/* universal stuff */
body{
    font-family: 'PT Sans', sans-serif !important;
}

.bio_handwriting{
    font-family: 'Neucha', cursive;
    font-size: 24px;
}

.img_style:hover{
    border: 4px solid #00A4DB;
}

/* NAVBAR */
.nav_style{
    padding: 2px;
    font-size: 20px;
}

.nav_brand_style{
    font-family: 'Lobster Two', cursive;
    font-size: 28px;
}

/* JUMBOTRON */
.jumbo_style{
    background-color: #006BA6;
    color: #ffffff;
}

/* FOOTER */
.social_item{
    display: inline;
    padding-right: 10px;
    font-size: 5rem;    
}

.social_item a{
    color: #00A4DB;
}

.social_item a:hover{
    color: #006E93;
}

.footer_style{
    background-color: #343434;
    color: #F7FFF7;
}

.copyright_style{
    background-color:#F22659;
    font-family: 'Oswald', sans-serif;
}

.copyright_style a{
    color: #ffffff;
    font-style: oblique;
    text-decoration: underline;
}

.copyright_style a:hover{
    color: #2B2D42;
}